@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;  
    box-sizing: border-box; 
}
html{
    scroll-behavior: smooth;
}
/* ======== Navbar ===============*/
.navbar-brand{
  color: #fff;
  font-weight: 700;
  letter-spacing: 7px;
  
}
.nav-item{
  letter-spacing: 2px;
  color: #fff;
  font-weight: 500;
}
/* ========banner start===============*/
.banner{
    height: 500px;
    position: relative;
    width: 100%;
    clip-path: polygon(100% 0%, 100% 80%, 50% 100%, 0 80%, 0 0);
}
.banner img{
    width: 100%;
    height: 550px;
}
.banner h1{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-shadow: 0 2px 20px #000;
    font-size: 90px;
    text-align: center;
    font-weight: 1000;
}
.banner span{
    font-size: 40px;
    font-weight: 1000;
}
@media screen and (max-width: 770px){
    .banner h1{
        font-size: 60px ;
        text-align: center;
        font-weight: 700;
    }
    .banner span{
        font-size: 30px;
        font-weight: 700;
    }
}
/* ==================header-extradiv ============================= */
.header-extradiv{
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
}
.extra-div h4{
    font-size: 0.9rem;
    margin: 10px 0 10px 0;
    font-weight: bold;
    word-spacing: 4px;
}
.extra-div{
    background: #fff;
    border: medium none;
    padding: 5px !important;
    border-radius: 3px;
    transition: 0.3s;
    text-align: center;
}
.extra-div:hover{
    box-sizing: 0 0 30px 0 #fff;
    transform: translateY(-20px);
}
.extra-div i{
    font-size: 40px;
}
/* ================== gallary  ============================= */

/* =============== media query ==============*/
@media (max-width: 312px){
    .banner{
        height: 600px;
        position: relative;
        width: 100%;
        clip-path: polygon(100% 0%, 100% 70%, 50% 100%, 0 70%, 0 0);
    }
    .banner img{
        width: 100%;
        height: 550px;
    }
    .banner h1{ 
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: big john;
        color: #fff;
        text-shadow: 0 2px 20px #000;
        font-size: 40px;
        
        text-align: center;
    }
    .banner span{
        font-size: 25px;
    }
}
/* ========  contact  ===============*/
.contact{
	
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px 20px;
}
.contact p{
	color:black;
	font-size: 30px;
	font-weight:bold;
	border-bottom :2px solid #ffffff;
}
.contact button{
	width: 100px;
	height: 40px;
	background-color: rgb(233, 204, 142);
	border:none;
    padding: 10px;
    margin: 20px;
	font-size: 14px;
	font-weight:bold;
    border-radius: 20px;
}
.contact button:hover{
    background-color: #e0b94b;
}
/* ========  footer  ===============*/

footer p:nth-child(1){
	font-size: 30px;
	font-weight:bold;
	color: rgb(180, 177, 177);
	line-height:10px;

}
footer p:nth-child(2){
	font-size: 13px;
	color:#7e7d7d;
	width: 400px;
	text-align: center;
    
}
footer{
    width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
    background: #050505;
}
.social-icons a{
	width:40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#e6e3e3;
	margin:20px 10px;
	border-radius:50%;
}
.social-icons{
	display: flex;
	
}
.social-icons i,.social i{
	color:#000000;
}
.social-icons a:hover{
	background-color:#e0b94b;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	transition:all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i{
	color:#000;
	transition:all ease 0.5s;
}
 
.copyright{
	color:#565555;
	font-size: 12px;
	position: absolute;
	left:50%;
	bottom:10px;
	transform: translateX(-50%);
}
